@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');


:root{

    --primary: #88d13d;
    --dark-primary:#363543;
    --dark-primary-2:#2c2b36;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

p  {
    text-align: justify;
}


/* header section */

header .logo{
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    background-color:var(--dark-primary-2);
    align-items: center;
    padding: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li > a{
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
}

header ul li > a:hover{
    color: var(--primary);
}


/* btn */

.btn{
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 900;
    border: none; 
}

.dark-outlined-btn{
    background-color: var(--dark-primary);
    color: var(--primary);
    border: 2px solid var(--primary);
    font-weight: bolder;
}

.dark-outlined-btn:hover{
    background-color: var(--primary);
    color: var(--dark-primary);
}

.hero-btn{
    margin-top: 30px;
    
}

.hero-btn button{
    text-transform: uppercase;
    margin-right: 10px;
}

.primary-btn{
    background-color: var(--primary);
    color: black;
    text-transform: uppercase;
}

.primary-btn:hover{
    background-color:#548522 ;
    color:white;
}


/* hero-section */

.hero-section{
    background-color: var(--dark-primary);
    display: flex;
    align-items: center;
    padding: 60px 100px;
}


/* hero section title styling */

section .hero-section__title{
    padding-left: 140px;

}

.hero-section__title div > h4{
    font-size: 40px;

}

.hero-section__title div h4 span{
    font-size: 40px;
    color: #fff;

}

.hero-section__title div p{
    line-height: 30px;
    font-size: 18px;
    color: #bdbdbd;
}

.hero-section__title div > h1{
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary);
}

.hero-section__title div:nth-child(2){
    margin-top: 40px;
}

.hero-section__title div:nth-child(1) > *{
    margin-bottom: 6px;
}

/* hero-section social icons styling */

.social-icons ul{
    display: flex;
    list-style-type: none;
    margin-top: 30px;  
}

.social-icons ul li{
    margin-right: 15px;
    font-size: 30px;
    
}
.social-icons ul li a{
    color: #fff;
    text-decoration: none;
}

.social-icons ul li > a:hover .fa-facebook{
    color: #0866FF;
}

.social-icons ul li > a:hover .fa-linkedin{
    color: #0072b1;
}

.social-icons ul li > a:hover .fa-instagram{
    color: #e95950;
}
.social-icons ul li > a:hover .fa-twitter{
    color: #1DA1F2;
}


/* about-section */ 

.about-section{
    background-color:var(--dark-primary-2);
    color: white;
}

.about-section--card{
    padding: 150px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section--card__img img{
    width: 500px;
}

.about-section--card__desc{
    margin-left:80px ;
    text-align: start;
    font-size: larger;
}
.about-section--card__desc h1{
    font-size: 50px;
}

.about-section--card__desc ol{
    margin: 40px 0;
    list-style: none;
}

.about-section--card__desc h1 span{
    color: var(--primary);
}

.about-section--card__desc ol li{
    margin-bottom: 25px;  
    color:rgb(184, 184, 184);
}

.about-section--card__desc ol li> strong{
    color: white;
}

.about-section--card__desc ol li>a{
    text-decoration: none;
    color:rgb(184, 184, 184);
}

.about-section--card__desc ol li:hover a{
    color: var(--primary);
}


/* section title */
.section-title{
    font-size: 60px;
    padding: 30px;
    color: white;
    text-align: center;
}
/* section title */


/* work-section */

.work-section{
    background-color: var(--dark-primary);
    padding: 60px;
}


.section-title > span{
    color: var(--primary);
}

.work-section--card{
    width: 30%;
    background-color: var(--dark-primary-2);
    padding: 80px 40px;
    margin: 0 30px;
    cursor: pointer;
    border-radius: 10px;
}

.work-section--card:hover{
    background-color: #45454d;
    box-shadow: 0px 0px 30px var(--primary);
}

.work-section--card:hover .work-section--card__para{
    color: #fff;
}
.work-section--cardholder{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.work-section--card__para{
    margin:15px 0;
    color:rgb(184, 184, 184);
}

.work-section--card__title{
    margin-top: 20px;
    color: #fff;
}

.work-section--card__icon{
    color: var(--primary);
    font-size: 40px;
}

.work-section--card div> a{
    text-decoration: none;
    color: #e95950;
}

.work-section--card div> a:hover{
    color: var(--primary);
}

/* contact-section */
.contact-section{
    background-color: var(--dark-primary-2);
    padding: 60px;
    text-align: center;
}

.contact-from div> input,textarea{
    width: 500px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--dark-primary);
    outline: 1px solid var(--primary);
    color: white;
    font-size: 20px;
    resize: none;
}

.contact-from{
    padding: 30px;
}
.contact-from div{
    margin-bottom: 20px;
}

/* footer section */

.footer-section{
    position: sticky;
    position: -webkit-sticky;
    bottom: 0px;
    padding: 15px;
    text-align: center;
    background-color: var(--primary);
    color: black;
    width: 100%;
}

/* Media Query */

@media only screen and (max-width: 600px) {

    /* header */

    header{
        flex-direction: column;
    }

    header>div{
        margin:10px 0;
    }

    /* hero section */

    .hero-section{
        flex-direction: column;
        padding: 60px 30px;
    }

    section .hero-section__title{
        padding: 0px;
    }

    section .hero-section--img{
        width: 300px;
        height: 400px;
        margin-top: 40px;
    }

    /* about section */


    section .about-section--card{
        flex-direction: column;
        padding: 60px 30px;
    }

    section div > .about-section--card__desc{
        margin: 0px;
    }

    section .about-section--card__img > img{
        width: 300px;
        height: auto;
        margin-bottom: 40px;
    }

    /* work section */

    .work-section{
        padding: 0px;
    }

    section .work-section--cardholder{
        flex-direction: column;
        padding: 0px;
    }

    section .work-section--card{
        width: auto;
        margin: 20px 40px;
        padding: 40px 20px;
    }

    /* contact section */

    .contact-section{
        padding: 30px;
    }

    .contact-from div> input, textarea{
        width: 100%;
    }

    .contact-from{
        padding: 0px;
    }

    .contact-section .section-title{
        padding: 0px;
        margin: 30px 0px;
        margin-bottom: 40px;
    }

    /* button */

    .primary-btn{
        width: 100%;
    }

    .hero-btn > button{
        margin: 10px 0px;
    }

    .dark-outlined-btn{
        width: 100%;
    }

    .footer-section h4{
        font-size: 12px;

    }

  }